<audio #bgMusic loop>
  <source src="music/audio-1.mp3" type="audio/mpeg">
</audio>

<audio #bgClick>
  <source src="music/mouse-click.mp3" type="audio/mpeg">
</audio>

<audio #bgError>
  <source src="music/error.mp3" type="audio/mpeg">
</audio>

@if (showDarkOverlay) {
  <div class="dark-overlay"></div>
}

<div class="container">
    <span (click)="toggleAudio()" class="audio-btn">
      @if (playAudio) {
        <img src="music_off.png" alt="audio-off">
      }
      @if (!playAudio) {
        <img src="music_on.png" alt="audio-on">
      }
    </span>
  @if (!quizStarted) {
    <div class="welcome-screen">
      <h1 class="title">❤️ The Popo Lolo Quiz ❤️</h1>
      <button (click)="startQuiz()" class="start-btn">Start Quiz</button>
    </div>
  }

  @if (quizStarted && currentQuestionIndex < questions.length) {
    <div
      class="question-card"
      [@fadeIn]>
      <h2 class="question-text">{{ questions[currentQuestionIndex].question }}</h2>
      @for (option of questions[currentQuestionIndex].options; track option) {
        <button
          (click)="nextQuestion()" class="option-btn">
          {{ option }}
        </button>
      }
    </div>
  }

  @if (currentQuestionIndex === questions.length && !showCelebration) {
    <div class="final-question" [@fadeIn]>
      <h2 class="final-text">Will you be my Valentine? ❤️</h2>
      <button [disabled]="isTyping" (click)="showSuccess($event)" class="yes-btn">Yes</button>
      <button [disabled]="isTyping" (click)="askAgain()" 
              class="no-btn" 
              [class.shake]="shakeButton">
        No
      </button>
      <br>
      <p class="typing-effect"><span>{{ typingText }}</span>
        @if (typingText.length) {
          <span class="cursor">|</span>
        }
      </p>
    </div>
  }

  @if (showCelebration) {
    <div class="celebration-screen">
  
      <div class="celebration-message">
        <h2>Yay! You said YES! ❤️🎉</h2>
        <p>You just made my day! I can't wait to celebrate with you. 💖</p>
        
        @if (!showSurpriseMessage) {
          <button (click)="showSpecialMessage()" class="special-message-btn">
            Click for a surprise! 🎁
          </button>
        }

        <!-- Surprise Message -->
         @if (showSurpriseMessage) {
          <p class="surprise-text">
            I love you more than words can say! 😘❤️
            here's something to tell you how much you mean to me. 
          </p>
          <div class="poem">
              <span class="poem-line">Love?</span>
              <span class="poem-line">Love is a mere word when placed next to what I feel for you.</span>
              <span class="poem-line">Its like calling the ocean a puddle.</span>
              <span class="poem-line">Or the sky a patch of blue.</span>
              <span class="poem-line">Love implies limits.</span>
              <span class="poem-line">Boundaries to where the heart can go.</span>
              <span class="poem-line">But what I feel for you flows beyond horizons.</span>
              <span class="poem-line">Places love itself doesn't know.</span>
              <span class="poem-line">When you question my love, You question the very essence of who I am</span>
              <span class="poem-line">Like asking the sun if it ever doubts its own light</span>
              <span class="poem-line">Or the shore if it ever questions the kiss of the tide</span>
              <span class="poem-line">Its not a question of if I love you, but rather how could I not?</span>
              <span class="poem-line">Every beat of my heart sings your name,</span>
              <span class="poem-line">And every thought in my mind circles back to you.</span>
              <span class="poem-line">So, Do I love you?</span>
              <span class="poem-line">My Dear I exist in a perpetual state of loving you.</span>
              <span class="poem-line">As natural and as ceaseless as the air I breathe.</span>
          </div>
         }
      </div>
    </div>
  }
</div>
